{{#if filters}}
  <div class='{{css}}-facets'>
    <div class='{{css}}-facets-header'>
      {{i18n.refineByLabel}}
    </div>
    {{#frost-scroll
      class=(concat css '-facets-body')
      hook=(concat hookPrefix '-scroll')
      hookQualifiers=hookQualifiers
    }}
      {{component filters}}
    {{/frost-scroll}}
  </div>
{{/if}}
<div class='{{css}}-content'>
  {{component content}}
  {{component controls}}
</div>